@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    color-scheme: light;
  }

  * {
    @apply border-neutral-200;
  }

  body {
    @apply text-neutral-900;
    background-color: #F7F7F7;
  }
}
